/* Make it look nice! */
* {
  background: grey;

}

#calc-wrapper {
  display: grid;
  background: white;
  height: 485px;
  width: 381px;
  border: 1px solid white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.display {
  display: block;
  background: lightgray;
  border: 1px solid black;
  height: 80px;
  width: 361px;
  margin: 10px;
  font-size: 80px;
}

.button-wrapper {
  display: grid;
  margin: 10px;
  grid-template-rows: repeat(5, 70px,);
  grid-template-columns: repeat(4, 90px);
  gap: 1px;
}

button {
  background: white;
  min-width: 90px;
  min-height: 70px;
}
